/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a:hover {
    /* color: inherit; */
    text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

/* header style start */
html {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.page_container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

.main_header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.main_header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 3;
}

.header_body {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    max-width: 425px;
    position: relative;
    z-index: 3;
}

.header_logo {
    margin: auto;
    position: relative;
    z-index: 3;
}

.header_logo_list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-left: auto;
    position: relative;
    z-index: 3;
}

.header_link {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #1c1b1b;
    text-decoration: none;
}

.header_logo_link {
    width: 22px;
    height: 21px;

    display: block;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 22px;
}

.logo_link_inst {
    background-image: url(/img/instagram_icon.svg);
    z-index: 3;
}

.logo_link_search {
    background-image: url(/img/search_icon.svg);
}

.logo_link_basket {
    background-image: url(/img/basket_icon.svg);
}

/* initial box style start */
.initial_box {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #f0efeb;
    padding-top: 60px;
}

.initial_text {
    padding-top: 90px;
    padding-left: 170px;
    padding-bottom: 90px;
}

.initial_img {
    padding-left: 74px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.initial_text h2 {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #000;
}

.initial_text .text {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #000000;

    margin-top: 42px;
}

.initial_button {
    display: inline-block;
    background-color: #000;
    padding: 10px 24px;
    border-radius: 100px;
    margin-top: 26px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid black;
}

.initial_button:hover {
    background-color: #ffffff;
    color: #000;
}

.what_we_do {
    padding: 60px 108px 0px 108px;
}

.about_text {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.about_text h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 28px;
}

.about_text .text {
    margin: 0 auto 48px auto;
    max-width: 650px;
}

.best_sellers {
    padding-top: 88px;
    padding-bottom: 52px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.sellers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.seller_box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.seller_img {
    margin-bottom: 40px;
}

.seller_box h4 {
    max-width: 160px;
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}

.price {
    margin-bottom: 18px;
}

.add_to_cart {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #000;
    text-decoration-line: underline;
    margin-bottom: 248px;
}

.more_detail {
    display: flex;
    flex-direction: column;
}

.detail_box {
    background-color: rgba(204, 204, 204, 0.3);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    padding: 80px 192px;
}

.detail_box:nth-child(2n) {
    grid-template-columns: 60% 40%;
    background-color: rgba(204, 204, 204, 0.6);
}

.detail_box:nth-child(2n) .detail_text {
    grid-row: 1;
    text-align: end;
}

.detail_text {
    padding-top: 62px;
    padding-right: 100px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.detail_text h4 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 46px;
}

.detail_text .text {
    margin-bottom: 40px;
}

.shop_link {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #000;
}

.features {
    align-content: center;
}

.features h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000;
    max-width: 440px;
    margin: 0 auto;
    padding-top: 190px;
    padding-bottom: 70px;
    text-align: center;
}

.features_box {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 110px;
    padding: 0 188px 162px 188px;
}

.feature {
    width: 338px;
    padding: 0 100px;
}

.feature .text::before {
    content: "";
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: #18a5c6;
    display: block;
    align-items: center;
    margin: 0 auto 26px auto;
}

.feature .text {
    text-align: center;
}

.interviews {
    padding-bottom: 78px;
    position: relative;
    z-index: -1;
}

.interviews::before {
    content: "";
    width: 100%;
    height: 57%;
    background-color: #f0f0f0;
    position: absolute;
    top: 43%;
    z-index: -2;
}

.interviews h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    max-width: 705px;
    margin: 0 auto 102px auto;
}

.interviews_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about_interviews {
    max-width: 288px;
    text-align: center;
}

.about_interviews .text {
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-bottom: 44px;
}

.interviews_img {
    margin-bottom: 35px;
}

.about_interviews blockquote {
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
}

.interviews_link {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.keep {
    text-align: center;
    margin: 88px auto;
    max-width: 570px;
}

.keep h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 10px;
}

.keep .text {
    max-width: 496px;
    font-weight: 700;
    font-size: 17px;
    color: #000000;
    margin: 0 auto 26px auto;
}

.subscribe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 60px;
}

.first_name {
    border: 1px solid black;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 12px 0 12px 8px;
}

.last_name {
    border: 1px solid black;
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 12px 0 12px 8px;
}

.email {
    border: 1px solid black;
    grid-column: 1/3;
    grid-row: 2/3;
    padding: 12px 0 12px 8px;
}

.button_subscribe {
    background-color: #000;
    color: white;
    border: 1px solid black;
    border-radius: 15px;
    margin: 0 auto;
    grid-column: 1/3;
    grid-row: 3/4;
    width: 115px;
    height: 33px;
}

.button_subscribe:hover {
    background-color: #ffffff;
    color: #000;
}

.main_footer {
    background-color: #000;
    color: #ffffff;
    padding: 48px 148px;
    display: flex;
    justify-content: space-between;
}

.footer_logo_link {
    width: 26px;
    height: 26px;
    display: block;
    background-position: center;
    background-size: 26px 26px;
}

.footer_social {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 32px;
    column-gap: 20px;
}

.footer_logo {
    grid-column: 1/4;
    grid-row: 1/2;
}

.logo_facebook {
    background: url(/img/logo_facebook.svg);
    background-repeat: no-repeat;
}

.logo_instagram {
    background: url(/img/logo_instagram.svg);
    background-repeat: no-repeat;
}

.logo_twitter {
    background: url(/img/logo_twitter.svg);
    background-repeat: no-repeat;
}

.footer_about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 48px;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
}

.about_list {
    grid-column: 1/2;
    grid-row: 1/2;
}

.about_list h5 {
    margin-bottom: 32px;
}

.about_list li {
    margin-bottom: 12px;
}

.about_link {
    text-decoration: none;
    color: #f0f0f0;
}

.contact_list {
    grid-column: 2/3;
    grid-row: 1/2;
}

.contact_list h5 {
    margin-bottom: 32px;
}

.contact_list li {
    margin-bottom: 12px;
}

.contact_link {
    text-decoration: none;
    color: #f0f0f0;
}

.header_hamburger {
    width: 40px;
    height: 40px;
    visibility: hidden;
}

.header_hamburger img {
    max-width: 100%;
}

.header_burger {
    visibility: hidden;
}

@media (max-width: 1200px) {
    .page_container {
        width: 1200px;
    }
}

@media (max-width: 768px) {
    .page_container {
        width: 768px;
    }

    .header_burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        visibility: initial;
        z-index: 3;
        cursor: pointer;
    }

    .header_burger::before,
    .header_burger::after {
        content: "";
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        border-radius: 3px;
        transition: all 0.3s ease 0s;
    }

    .header_burger span {
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        border-radius: 4px;
        background-color: #000;
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .header_burger::before {
        top: 0;
    }

    .header_burger._active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header_burger._active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header_burger._active span {
        transform: scale(0);
    }

    .header_burger::after {
        bottom: 0;
    }

    .header_list._active {
        left: 0;
    }

    .header_list {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(204, 204, 204, 0.8);
        z-index: 2;
        padding: 100px 0 0 50px;
        display: block;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }

    .header_list li {
        margin-bottom: 30px;
    }

    .header_link {
        font-size: 36px;
    }

    .header_hamburger {
        visibility: initial;
        position: relative;
        z-index: 3;
    }

    .header_hamburger._active_burger {
        background-image: url(/img/burger.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .header_logo_list._active_burger {
        right: 0;
    }

    .header_logo_list {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 100%;
        height: 100%;
        padding: 10px;
        background-color: rgba(204, 204, 204, 0.8);
        transition: right 0.3s ease 0s;
        overflow: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .header_logo_link {
        width: 50px;
        height: 50px;
    }

    .logo_link_inst {
        background-size: 100%;
    }

    .logo_link_search {
        background-size: 100%;
    }

    .logo_link_basket {
        background-size: 80%;
    }

    .initial_text h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .initial_text .text {
        font-size: 16px;
        line-height: 24px;
        margin-top: 20px;
    }

    .initial_text {
        padding-top: 50px;
        padding-left: 100px;
        padding-bottom: 70px;
    }

    .initial_img {
        padding-left: 30px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .about_text h2 {
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 20px;
    }

    .about_text .text {
        margin: 0 auto 20px auto;
        max-width: 650px;
    }

    .best_sellers {
        padding-top: 48px;
        padding-bottom: 48px;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
    }

    .sellers {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .seller_box {
        display: flex;
        text-align: center;
        align-items: center;
        width: 50%;
    }

    .seller_img {
        margin-bottom: 20px;
        object-fit: cover;
        object-position: center;
        width: 50%;

    }

    .seller_box h4 {
        max-width: 160px;
        margin-bottom: 18px;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
    }

    .add_to_cart {
        margin-bottom: 50px;
    }

    .detail_box {
        background-color: rgba(204, 204, 204, 0.3);
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
        padding: 40px 80px;
        align-items: center;
    }

    .detail_box .seller_img {
        width: 70%;
        object-fit: cover;
        object-position: center;
    }

    .detail_text {
        padding-top: 0px;
        padding-right: 10px;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #000000;
    }

    .detail_text h4 {
        font-weight: 700;
        font-size: 28px;
        line-height: 42px;
        margin-bottom: 18px;
    }

    .detail_text .text {
        margin-bottom: 20px;
    }

    .detail_box:nth-child(2n) {
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
        align-items: center;
    }

    .detail_box:nth-child(2n) .seller_img {
        margin: 0 auto;
    }

    .detail_box:nth-child(2n) .detail_text {
        text-align: start;
    }
}